@font-face {
  font-family: Lato;
  src: url(../fonts/lato.ttf); }

@font-face {
  font-family: Gilroy;
  src: url(../fonts/gilroy.otf); }

.header .header-logo, .header .header-navigation, .header .header-navigation nav, .header .header-navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header .header-navigation nav ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.second-screen .container a .arrow-right, .second-screen .container a .arrow-left {
  width: 47px;
  height: 6px;
  display: block; }

.fifth-screen-title h3 {
  font-family: Gilroy;
  font-size: 50px;
  color: #000;
  text-transform: uppercase; }

.fifth-screen .form-section .form-group .form-input-long, .fifth-screen .form-section .form-group textarea {
  font-family: Lato;
  font-size: 14px;
  color: #000; }

.fifth-screen .form-section .form-group .form-label {
  font-family: Gilroy;
  font-size: 14px;
  color: #183d69; }
  .fifth-screen .form-section .form-group .form-label:last-of-type::after {
    content: "*";
    color: #f38142; }

.first-screen .background-title, .second-screen .background-title, .third-screen .background-title, .fifth-screen-title .background-title {
  position: absolute;
  top: 33.5%;
  left: 52%;
  text-transform: uppercase;
  margin-right: -48%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -99;
  font-family: Gilroy;
  font-size: 100px;
  color: #d5d5d5; }

.second-screen .container .carousel-custom {
  padding-right: 60px !important;
  padding-left: 60px !important;
  margin-top: 67px; }

.second-screen .container .carousel-custom .btn-detail, .third-screen .distribution-image-button {
  width: 140px;
  height: 46px;
  background-color: #f38142;
  border: 1px solid #fff;
  letter-spacing: 0px;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }
  .second-screen .container .carousel-custom .btn-detail:active, .third-screen .distribution-image-button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    right: 90px;
    margin-right: 8px; }

.header {
  width: 100%;
  height: 42.03px;
  background-color: #183d69; }
  .header .header-logo {
    width: 121px;
    height: 52.53px;
    background-color: #f38142;
    border-bottom: 1px solid #e4a785;
    border-left: 1px solid #e4a785;
    border-right: 1px solid #e4a785;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(213, 213, 213, 0.52);
    box-shadow: 0px 7px 5px 0px rgba(213, 213, 213, 0.52);
    margin-left: 16.6%; }
  .header .header-navigation {
    float: left;
    margin-left: 38%;
    position: relative;
    bottom: 52px;
    width: 320px;
    height: 90%; }
    .header .header-navigation nav {
      height: 100%;
      width: 100%; }
      .header .header-navigation nav ul {
        height: 100%;
        width: 100%;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .header .header-navigation nav ul li {
          height: 100%; }
          .header .header-navigation nav ul li a {
            color: #d5d5d5;
            font-family: Lato;
            font-size: 12px;
            font-weight: 500; }

.first-screen h1 {
  font-family: Gilroy;
  font-size: 50px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 10px;
  position: relative; }
  .first-screen h1 img {
    position: absolute;
    top: 28px;
    left: 22px;
    z-index: -1; }

.first-screen .rectangle-products {
  top: 63px;
  padding: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .first-screen .rectangle-products .rectangle-product-section {
    height: 420px;
    background-color: #00beb0; }
    .first-screen .rectangle-products .rectangle-product-section p {
      position: relative;
      bottom: 135px;
      margin-left: 20px;
      line-height: 29px;
      color: #d5d5d5;
      font-size: 22px;
      font-family: Gilroy;
      text-transform: uppercase;
      width: 170px; }
    .first-screen .rectangle-products .rectangle-product-section:hover img {
      -webkit-transform: scale(0.975);
      -ms-transform: scale(0.975);
      transform: scale(0.975); }

.under-content-block {
  bottom: 34px;
  height: 98px;
  width: 100%;
  background-color: #f38142;
  position: relative;
  z-index: -99; }

.second-screen {
  background-color: #f38142;
  position: relative;
  bottom: 35px; }
  .second-screen .background-title {
    left: 50%;
    z-index: 0;
    top: 12%;
    letter-spacing: 3px;
    color: #e16e2f; }
  .second-screen .container .carousel-custom {
    margin-bottom: 38px; }
    .second-screen .container .carousel-custom .block-with-information {
      position: absolute;
      bottom: 30px;
      width: 46.3%;
      height: 32.7%;
      left: 100px;
      background-color: #183d69; }
      .second-screen .container .carousel-custom .block-with-information p {
        font-family: Gilroy;
        font-size: 1.7em;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #fff;
        margin: 0px;
        position: absolute;
        padding-left: 19px; }
        .second-screen .container .carousel-custom .block-with-information p:nth-child(1) {
          height: 20px;
          margin-top: 17px; }
        .second-screen .container .carousel-custom .block-with-information p:nth-child(2) {
          top: 36px;
          font-size: 50px;
          height: 59px;
          z-index: 2; }
        .second-screen .container .carousel-custom .block-with-information p:nth-child(3) {
          top: 96px; }
        .second-screen .container .carousel-custom .block-with-information p img {
          position: absolute;
          z-index: -1;
          top: 31px;
          left: 31px; }
    .second-screen .container .carousel-custom .btn-detail {
      position: absolute;
      float: right;
      bottom: 73px;
      padding-left: 0px;
      right: 100px; }
    .second-screen .container .carousel-custom .current-slider {
      position: absolute;
      right: 118px;
      bottom: 377px;
      color: #fff;
      display: inline-block; }
      .second-screen .container .carousel-custom .current-slider p {
        color: #fff;
        font-size: 21.02px;
        font-color: #fff;
        font-family: Gilroy; }
  .second-screen .container a {
    width: 10%;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .second-screen .container a .arrow-right {
      background: url("../images/second-screen/arrow-right.png"); }
    .second-screen .container a .arrow-left {
      background: url("../images/second-screen/arrow-left.png"); }

.third-screen .background-title {
  left: 58.5%;
  z-index: 0;
  top: 203%;
  letter-spacing: 0.7px;
  color: #f3f4f4; }

.third-screen .third-screen-title-container {
  position: relative; }

.third-screen .distribution-dotted {
  position: absolute;
  z-index: -1;
  left: 159px;
  bottom: -85px; }

.third-screen-title {
  font-family: Gilroy;
  font-size: 50px;
  text-transform: uppercase;
  padding: 0 !important;
  margin-top: 23px;
  color: #000; }

.third-screen .distribution-image {
  display: inline-block;
  padding: 0 !important;
  margin-top: 65px; }
  .third-screen .distribution-image-under-text {
    padding: 0 !important;
    color: #183d69;
    width: 40%;
    margin-top: 14px;
    line-height: 16px;
    float: left;
    font-size: 12px;
    font-family: Gilroy; }
  .third-screen .distribution-image-button {
    margin-right: 10px;
    margin-top: 45px;
    float: right; }

.third-screen article {
  margin-top: 60px;
  width: 310px;
  color: #000;
  letter-spacing: 0px;
  padding-left: 11px !important;
  font-size: 12px;
  font-family: Lato; }
  .third-screen article p {
    padding: 0; }

.geography {
  margin-top: 35px; }
  .geography section {
    padding: 0; }
    .geography section h3 {
      font-size: 50px;
      font-family: Gilroy;
      color: #000;
      text-transform: uppercase; }
    .geography section img {
      position: absolute;
      z-index: -1;
      bottom: 3px;
      left: 47px; }

.fourth-screen {
  background-color: #f38142;
  height: 120px;
  margin-top: 63px; }
  .fourth-screen section {
    padding: 10px; }
    .fourth-screen section p {
      margin-top: 12px;
      font-family: Gilroy;
      font-size: 21px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: -3px;
      margin-top: 12px; }
  .fourth-screen section .select-box {
    width: 27% !important;
    height: 25px;
    border-color: #f38142;
    font-family: Lato;
    font-size: 12px;
    color: #000; }
    .fourth-screen section .select-box option {
      font-family: Lato;
      font-size: 12px;
      color: #000;
      border: 1px solid #f38142; }
    .fourth-screen section .select-box:nth-child(2) {
      margin-left: 9.3% !important; }
    .fourth-screen section .select-box:nth-child(3) {
      margin-left: 9.3% !important; }

.fifth-screen .partners-img {
  position: absolute;
  top: 105px;
  left: 160px; }

.fifth-screen-title {
  padding: 2px !important;
  margin-top: 35px; }
  .fifth-screen-title img {
    position: absolute;
    bottom: 4px;
    left: 47px;
    z-index: -1; }
  .fifth-screen-title .background-title {
    top: 165%;
    left: 80%;
    letter-spacing: 2px;
    color: #f3f4f4; }

.fifth-screen-article {
  padding: 0px !important; }
  .fifth-screen-article section {
    padding: 1px !important; }
  .fifth-screen-article-info {
    margin-top: 54px;
    font-family: Lato;
    font-size: 12px;
    color: #000; }
  .fifth-screen-article-before-form-info {
    margin-top: 15px;
    font-family: Gilroy;
    font-size: 12px;
    color: #183d69; }

.fifth-screen .form-section {
  float: left;
  padding: 0px !important;
  margin-top: 14px; }
  .fifth-screen .form-section .form-group {
    margin-top: 16px;
    padding: 0px !important; }
    .fifth-screen .form-section .form-group .form-label {
      padding: 0px !important; }
    .fifth-screen .form-section .form-group .form-input-long {
      border: 1px solid #f38142;
      margin-left: 16% !important;
      width: 58.7% !important; }
    .fifth-screen .form-section .form-group .form-label-non-req:last-of-type:after {
      content: " "; }
    .fifth-screen .form-section .form-group .form-select {
      width: 28% !important;
      margin-left: 16% !important;
      height: 22px;
      border: 1px solid #f38142; }
      .fifth-screen .form-section .form-group .form-select:nth-child(3) {
        margin-left: 3% !important; }
    .fifth-screen .form-section .form-group textarea {
      height: 98px; }
    .fifth-screen .form-section .form-group .checkbox-input[type=checkbox] {
      margin-top: 10px;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      margin-left: 38%;
      border-radius: 0px; }
      .fifth-screen .form-section .form-group .checkbox-input[type=checkbox] + label::before {
        border: 1px solid #f38142; }
    .fifth-screen .form-section .form-group .checkbox-label {
      margin-top: 10px;
      padding-left: 0;
      right: 11px;
      letter-spacing: 0.5px;
      position: relative;
      font-family: Lato;
      font-size: 11px;
      color: #7f7f7f; }
    .fifth-screen .form-section .form-group .attention-label {
      margin-bottom: 0px;
      font-family: Lato;
      font-size: 11px;
      font-family: Lato;
      font-size: 11px;
      color: #7f7f7f;
      margin-top: 7px;
      padding-left: 7px;
      letter-spacing: 0.5px; }
      .fifth-screen .form-section .form-group .attention-label:last-of-type::before {
        content: "*";
        color: #f38142; }
  .fifth-screen .form-section .form-checkbox {
    margin-top: 0px; }
    .fifth-screen .form-section .form-checkbox .checkbox-input:nth-child(1), .fifth-screen .form-section .form-checkbox .checkbox-label:nth-child(2) {
      margin-top: 45px; }

.administrtion-article p {
  padding: 0 !important;
  font-size: 10px;
  font-family: Lato;
  text-align: justify;
  color: #6a6a6a;
  line-height: 16px;
  letter-spacing: 0px; }

.submit-button {
  margin-top: 24px;
  width: 210px;
  height: 46px;
  margin-left: 10px;
  background-color: #f38142;
  border: 1px solid #fff;
  letter-spacing: 0px;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }
  .submit-button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    left: 3px; }

footer {
  margin-top: 59px;
  background-color: #f38142; }
  footer section {
    background-color: #f38142;
    padding: 7px !important; }
    footer section .contacts p, footer section .navigation-footer p {
      margin: 0px;
      font-size: 12px;
      font-family: Lato;
      color: #fff;
      margin-bottom: 12px; }
    footer section .contacts .social-networks, footer section .navigation-footer .social-networks {
      padding: 0 !important;
      margin-top: -7px;
      margin-bottom: 24px; }
      footer section .contacts .social-networks a:nth-child(2), footer section .navigation-footer .social-networks a:nth-child(2) {
        margin-left: 16px; }
      footer section .contacts .social-networks a i, footer section .navigation-footer .social-networks a i {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 20px;
        font-size: 25px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        color: #f38142; }
        footer section .contacts .social-networks a i:hover, footer section .navigation-footer .social-networks a i:hover {
          background-color: #183d69; }
    footer section .contacts a, footer section .navigation-footer a {
      font-size: 12px;
      font-family: Lato;
      text-decoration: none;
      color: #fff; }
    footer section .contacts .phone-number, footer section .navigation-footer .phone-number {
      margin: 0px;
      font-size: 14px;
      font-family: Lato;
      color: #fff; }
    footer section .navigation-footer {
      padding-left: 10px !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    footer section .other-info ul {
      padding: 0;
      padding-top: 2px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer section .other-info ul li {
        list-style-type: none;
        line-height: 15px; }
        footer section .other-info ul li a {
          font-size: 12px;
          font-family: Lato;
          letter-spacing: 0px;
          color: #fff; }
    footer section .copyrights p {
      font-size: 12px;
      font-family: Lato;
      letter-spacing: -0.2px;
      color: #fff;
      margin-bottom: 12px; }
    footer section .copyrights a {
      font-size: 12px;
      font-family: Lato;
      letter-spacing: 0.2px;
      color: #fff; }
      footer section .copyrights a:hover {
        text-decoration: underline; }

@media screen and (max-width: 992px) {
  .background-title {
    display: none; }
  .header-navigation {
    float: left !important;
    margin-right: 5%; }
  .rectangle-products {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute; }
    .rectangle-products .rectangle-product-section:nth-child(3) {
      margin-top: 20px; }
  .block-with-information {
    left: 50px !important;
    height: 40% !important;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }
  .distribution-image-button {
    float: left !important; }
  .third-screen .distribution-dotted {
    position: absolute;
    z-index: -1;
    left: 120px;
    bottom: -85px; }
  .third-screen article {
    padding: 0 !important; }
  .third-screen .distribution-image-under-text {
    float: none; } }

@media screen and (max-width: 768px) {
  .second-screen {
    display: none; }
  .under-content-block {
    display: none; }
  .third-screen-title {
    word-wrap: break-all; }
  .third-screen .distribution-dotted {
    display: none; }
  .third-screen .distribution-image-button {
    margin-top: 10px; }
  .distribution-image-button {
    float: left !important; }
  .distribution-image {
    margin-left: auto;
    margin-right: auto; }
  .header-navigation {
    float: right !important;
    margin-right: 0%; }
    .header-navigation nav {
      width: 65% !important; }
  .background-title {
    font-size: 60px !important; }
  .rectangle-products {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .rectangle-products .rectangle-product-section:nth-child(n) {
      margin-top: 20px; }
      .rectangle-products .rectangle-product-section:nth-child(n):nth-child(1) {
        margin-top: 0px; }
  .geography section img {
    display: none; }
  .fifth-screen-title img {
    display: none; } }

@media screen and (max-width: 480px) {
  .header-navigation {
    width: 1px !important; }
    .header-navigation nav {
      display: none !important; }
  .distribution-image img {
    width: 300px; }
  .distribution-image {
    margin-left: 0 !important; }
  .third-screen-title-container h3 {
    word-break: break-all; }
  .third-screen .distribution-image-under-text {
    width: auto; } }
